.dasgal8{
    width: 600px;
    height: 40px;
    background-color: dodgerblue;
    margin: auto;
    align-content: center;
}
.dasgal88{
    align-content: center;
    text-align: center;
}
.dasgal89{
    width: 600px;
    height: 500px;
    background-color: aqua;
    margin: auto;
    align-content: center;
}
.dasgal87{
    margin-top: -78px;
    text-align: center;
}
.dasgal{
    text-align: center;
    align-content: center;
}
.ok{
    text-align: center;
    color: white;
    background-color: pink;
}

