.header{
    display: flex;
    justify-content: center;
    gap: 500px;
    padding-top: 40px;
    margin-top: -5px;
}
.normal{
    color: black;
    text-decoration: none;
}
.about11{
    color: black;
    text-decoration: none;
}
header{
    background-color: rgb(255, 255, 255);
    width: 2220px;
    height: 100px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
}
body{
    font-family: Poppins;
}
@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
}
.search{
    width: 30px;
    height: 30px;
}
.image{
    margin-top: -15px;
    width: 200px;
    height: 50px;
}
.home{
    display: flex;
    gap: 50px;
}
.icon{
    display: flex;
    gap: 50px;
}
.about22{
    width: 2220px;
}
.box11{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #f9f1e7;
    width: 900px;
    height: 50px;
    align-items: center;
    margin-left: 100px;
}
.sofa{
    margin-left: 100px;
     margin-top: 50px;
}
.trash{
    display: flex;
    gap: 100px;
    align-items: center;
}
.tarsh11{
    width: 30px;
    height: 30px;
}
.grey{
    color: grey;
}
.number{
    width: 35px;
    height: 35px;
    border: solid black;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.totals{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.box100{
    background-color: #f9f1e7;
    width: 400px;
    height: 450px;
    
}