.header{
    display: flex;
    justify-content: center;
    gap: 500px;
    padding-top: 40px;
    margin-top: -5px;
}
.normal{
    color: black;
    text-decoration: none;
}
.about11{
    color: black;
    text-decoration: none;
}
header{
    background-color: rgb(255, 255, 255);
    width: 2220px;
    height: 100px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    position: fixed;
}
body{
    font-family: Poppins;
}
@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
}
.search{
    width: 30px;
    height: 30px;
}
.image{
    margin-top: -15px;
    width: 200px;
    height: 50px;
}
.home{
    display: flex;
    gap: 50px;
}
.icon{
    display: flex;
    gap: 50px;
}
.main1{
    width: 2220px;
    
}
.brow{
    text-align: center;
    margin-top: 100px;
}
.browse{
    font-size: 25px;
    font-weight: bolder;
}
.lorem{
    color: grey;
}
.design{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 100px;
    text-align: center;
}
.products{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 100px;
}
.product1234{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.product5678{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.show{
    width: 150px;
    height: 40px;
    border: solid #B88E2F;
    color: #B88E2F;
    text-align: center;
    align-content: center;
    margin-top: 100px;
    margin-left: 1050px;
}
.mainer{
    width: 2220px;
    height: 800px;
    background-color: #f9f1e7;
    margin-top: 100px;
}
.main{
    padding-top: 300px;
    padding-left: 200px;
}
.beautiful{
    font-size: 50px;
    font-weight: bolder;
}
.our{
    color: grey;
    margin-top: 10px;
}
.explore{
    background-color: #B88E2F;
    color: white;
    width: 150px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-top: 30px;
}
.png123{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: -370px;
}
.chair{
    width: 500px;
    height: 500px;
}
.cut{
    height: 500px;
}
.share{
    color: gray;
}
.furniture{
    font-size: 25px;
    font-weight: bolder;
}
.title{
    text-align: center;
    margin-top: 100px;
}
.main5{
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 100px;
}
.part1{
    display: flex;
    gap: 700px;
    margin-left: 100px;
    margin-top: 100px;
}
.part2{
    display: flex;
    gap: 200px;
}
.funiro{
    font-weight: 900;
    font-size: 25px;
}
.item{
    color: grey;
}
.university{
    margin-left: 100px;
    margin-top: 100px;
    color: grey;
}

.part4{
    display: flex;
    gap: 190px;
    margin-left: 879px;
    margin-top: -95px;
}
.gmail{
    display: flex;
    gap: 100px;  
}
.gmail2{
    display: flex;
    gap: 50px;
}
.email{
    color: grey;
    text-decoration: underline;
}
.sub{
    text-decoration: underline;
}
.return{
    display: flex;
    gap: 200px;
    margin-left: 880px;
    margin-top: 70px;
}
.police{
    display: flex;
    gap: 195px;
    margin-left: 880px;
    margin-top: 70px;
}
.contact{
    margin-left: 880px;
    margin-top: 70px;
}
.rights{
    margin-top: 50px;
}
.totals{
    font-size: 25px;
    font-weight: bolder;
}