.header{
    display: flex;
    justify-content: center;
    gap: 500px;
    padding-top: 40px;
    margin-top: -5px;
}
.home11{
    color: black;
    text-decoration: none;
}
body{
    font-family: Poppins;
}
@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
}
.normal{
    color: black;
    text-decoration: none;
}
header{
    background-color: rgb(255, 255, 255);
    width: 2220px;
    height: 100px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    position: fixed;
}
body{
    font-family: Poppins;
}
@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
}
.search{
    width: 30px;
    height: 30px;
}
.image{
    margin-top: -15px;
    width: 200px;
    height: 50px;
}
.home{
    display: flex;
    gap: 50px;
}
.icon{
    display: flex;
    gap: 50px;
}
.shop{
    width: 2220px;
    height: 500px;
}
.group{
    width: 2220px;
    margin-top: -15px;
}
.product11{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.product22{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.product33{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.product44{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.one{
    background-color: #b88e2f;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.two{
    background-color: #f9f1e7;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.next{
    background-color: #f9f1e7;
    width: 65px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
.page{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.shop5{
    width: 2250px;
    height: 400px;
    margin-top: 50px;
}
.part1{
    display: flex;
    gap: 700px;
    margin-left: 100px;
    margin-top: 100px;
}
.part2{
    display: flex;
    gap: 200px;
}
.funiro{
    font-weight: 900;
    font-size: 25px;
}
.item{
    color: grey;
}
.university{
    margin-left: 100px;
    margin-top: 100px;
    color: grey;
}

.part4{
    display: flex;
    gap: 190px;
    margin-left: 879px;
    margin-top: -95px;
}
.gmail{
    display: flex;
    gap: 100px;  
}
.gmail2{
    display: flex;
    gap: 50px;
}
.email{
    color: grey;
    text-decoration: underline;
}
.sub{
    text-decoration: underline;
}
.return{
    display: flex;
    gap: 200px;
    margin-left: 880px;
    margin-top: 70px;
}
.police{
    display: flex;
    gap: 195px;
    margin-left: 880px;
    margin-top: 70px;
}
.contact{
    margin-left: 880px;
    margin-top: 70px;
}
.rights{
    margin-top: 50px;
}