.item{
    height: 100px;
    /* width: 150px; */
    background-color: lightblue;
    text-align: center;
    align-content: center;
    margin: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: lightcyan;
    border: 5px solid lightgrey;
    gap: 20px;
}
/* .item3{
    grid-column: span 2; 
}
.item6{
    grid-column: span 2;
}
.item9{
    grid-column: span 2;
} */