.coffee{
    display: flex;
    gap:400px;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 2300px;
    background-color: white;
}
.cafe{
    display: flex;
    gap: 40px;
    font-family: Alegreya;
}
.signing{
    display: flex;
    gap: 60px;
}
.Log{
    background-color: #583101;
    width: 75px;
    height: 35px;
    color: white;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}
.sign{
    margin-top: 10px;
}
header{
    box-shadow: 0px 0px 10px rgb(255, 247, 247);
    width: 2250px;
    height: 72px;
}
@font-face {
    font-family: Alegreya;
    src: url(./Alegreya-VariableFont_wght.ttf);
}
@font-face {
    font-family: Sans-pro;
    src: url(./SourceSans3-VariableFont_wght.ttf);
}
.welcome{
    color: #583101;
    background-color: #f3d5b5;
    width: 416px;
    height: 416px;
    text-align: center;
    align-content: center;
    border-radius: 24px;
    font-family: Alegreya;
    font-weight: 700;
    font-size: 48px;
    
}
.welcoming{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.open{
    color: #583101;
    background-color: #f3d5b5;
    width: 416px;
    height: 416px;
    text-align: center;
    align-content: center;
    border-radius: 24px;
    font-family: Alegreya;
    font-weight: 700;
    font-size: 48px;
}
.everyday{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}
.we{
    display: flex;
    color: #583101;
    font-family: Alegreya;
    font-weight: 700;
    font-size: 48px;
    padding-left: 400px;
    padding-top: 75px;
}
.about{
    color: #583101;
    background-color: #FFF4E8;
    width: 2290px;
    height: 875px;
    margin: auto;
}
.about2{
    display: flex;
    gap: 400px;
    text-align: center;
    margin-top: 50px;
}
.journey{
    padding-top: 75px;
    font-family: Sans-pro;
}
.big{
   padding-left: 400px;
   padding-top: 100px;
}
.menu{
    color: #583101;
    font-family: Alegreya;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.ourmenu{
    font-weight: 700;
    font-size: 48px;
}
.menu-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.Blog{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.ourblog{
    color: #583101;
    font-family: Alegreya;
    font-weight: 700;
    font-size: 48px;
}
.collection{
     font-family: Sans-pro;
     color: #583101;
}
.images{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}
.date1{
    color: #583101;
}
.title1{
    font-family: Alegreya;
    font-weight: 700;
    font-size: 48px;
    color: #251805;
    margin-top: -30px;
}
.paragraph1{
     font-family: Sans-pro;
     color: #583101;
     padding-top: 15px;
    position: relative;
}
.read1{
     font-family: Sans-pro;
     color: #583101;
     border: solid 1px #583101;
     width: 80px;
     height: 30px;
     text-align: center;
     align-content: center;
}
.date2{
    color: #251805;
}
.title2{
      font-family: Alegreya;
    font-weight: 700;
    font-size: 48px;
    color: #251805;
    margin-top: -30px;
}
.paragraph2{
    font-family: Sans-pro;
     color: #583101;
     margin-top: -50px;
}
.read2{
    font-family: Sans-pro;
     color: #583101;
     border: solid 1px #583101;
     width: 80px;
     height: 30px;
     text-align: center;
     align-content: center;
     margin-top: 40px;
}
.paragraph3{
    font-family: Sans-pro;
     color: #583101;
}
.read3{
     font-family: Sans-pro;
     color: #583101;
     border: solid 1px #583101;
     width: 80px;
     height: 30px;
     text-align: center;
     align-content: center;
     margin-top: 40px;
}

